.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 280px;
    background-color: rgb(255, 255, 255);

    border-radius: 15px;

    overflow: hidden;
    
    transition: all 300ms;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 1px solid #1e1e1e;
}

.article:hover {
    transform: scale(1.025);
    transition: all 300ms;
    cursor: pointer;
}

.info_container {
    width: 280px;
    padding: 10px 0 10px 20px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: rgb(255, 255, 255);

    z-index: 2;
}

.image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15%;

    transform: scale(1.00015);
    border-bottom: 2px solid #1e1e1e;

    z-index: 1;

    transition: all 500ms;
}